{% autoescape None %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
	{% block title %}
		<title>{{ common.get('title') }}</title>
	{% end %}
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
		<script type="text/javascript" src="/static/jscript/jquery.js"></script>
		<script type="text/javascript" src="/static/jscript/functions.js"></script>
	</head>

	<body id="body">
		<div id="menu">
			<a id="lnk_products" href="#"/>List Products</a>
			<a id="lnk_create" href="#"/>Create Product</a>
			<a id="lnk_edit" href="#"/>Edit Product</a>
			<a id="lnk_delete" href="#"/>Delete Product</a>
		</div>
        <div id="response" class="divided" style="float:right;">
        </div>
		<div id="products" class="products">
		</div>
	</body>
	<script type="text/javascript">
		jQuery(document).ready(function()
		{
			jQuery('#lnk_create').bind('click', function (event)
			{
				event.preventDefault();
                jQuery.ajax({
                    url: "/form/",
                    type: "GET",
                    success: function(result) {
                        jQuery('#products').html(result);
                    }
                });
			});

			jQuery('#lnk_edit').bind('click', function (event)
			{
				event.preventDefault();
                jQuery.ajax({
                    url: "/form/1",
                    type: "GET",
                    success: function(result) {
                        jQuery('#products').html(result);
                    }
                });
			});

			jQuery('#lnk_products').bind('click', function (event)
			{
				event.preventDefault();
				get_products();
			});


			jQuery('#lnk_delete').bind('click', function (event)
			{
				event.preventDefault();
				get_products_delete();
			});
			
		});
	</script>
</html>
